MONGODB_URI="mongodb+srv://hackbite2_app:<PASSWORD>@cluster0.gmnly7s.mongodb.net/hackbite2?retryWrites=true&w=majority&appName=Cluster0"
MONGODB_DB=hackbite2

MONGODB_URI_HACKBITE2="mongodb+srv://hackbite2_app:<PASSWORD>@cluster0.gmnly7s.mongodb.net/hackbite2?retryWrites=true&w=majority&appName=Cluster0"
MONGODB_DB_HACKBITE2=hackbite2

MONGODB_URI_HACKBITE3="mongodb+srv://hackbite3_app:<PASSWORD>@cluster0.gmnly7s.mongodb.net/hackbite3?retryWrites=true&w=majority&appName=Cluster0"
MONGODB_DB_HACKBITE3=hackbite3
