MONGODB_URI="mongodb+srv://hackbite2_app:<PASSWORD>@cluster0.gmnly7s.mongodb.net/hackbite2?retryWrites=true&w=majority&appName=Cluster0"
MONGODB_DB=hackbite2

# Optional multi-db aliases
MONGODB_URI_HACKBITE2="mongodb+srv://hackbite2_app:<PASSWORD>@cluster0.gmnly7s.mongodb.net/hackbite2?retryWrites=true&w=majority&appName=Cluster0"
MONGODB_DB_HACKBITE2=hackbite2
MONGODB_URI_HACKBITE3="mongodb+srv://hackbite3_app:<PASSWORD>@cluster0.gmnly7s.mongodb.net/hackbite3?retryWrites=true&w=majority&appName=Cluster0"
MONGODB_DB_HACKBITE3=hackbite3

EMBEDDING_PROVIDER=local
EMBEDDING_MODEL=hash-v1
EMBEDDING_DIM=1536
EMBEDDING_BATCH_SIZE=32
CHUNK_TARGET_TOKENS=220
CHUNK_OVERLAP_TOKENS=35
INDEX_TOP_K_DEFAULT=8
RERANK_ENABLED=true

OPENAI_API_KEY=
VERTEX_EMBEDDING_ENDPOINT=
VERTEX_API_KEY=
DEBUG_LOG_VECTORS=false
